<footer>
    <ul>
        <li>Discover</li>
        <li>All Right Reserved</li>
        <div>
            <% if(locals.user){ %>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">
                        Profile
                    </a>
                </li>
                <% } else { %>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/users/signin">Profile</a>
                    </li>
                    <% } %>
        </div>
    </ul>
</footer>