<h1>Discover / Home Page</h1>
<p>
    <%= title %>
</p>

<section class="feed-post">
    <h3>POST</h3>
    <form action="" method="post" id="new-post-id">
        <textarea name="caption" id="" cols="30" rows="2" placeholder="Type your message"></textarea>
        <button type="submit"> POST</button>
    </form>
</section>