<html>
    <head>
        <title> 
            <%= title %>
        </title>
    </head>

    <body>
       <%- include('_header'); %>
        <h1>This is the home page of our social website</h1>
        <p>
            <%= title %>
        </p>
        <%- include('_footer'); %>
    </body>
</html>