<html>
<head>

    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('_header'); %>
    <h1>
        Social /profile page 
    </h1>
    <h1>This is the profile page of the user in  our website</h1>
    <h2>The title of this page is  <%= title %></h2>
    <%- include('_footer'); %>
  
</body>
</html>